.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 Work Form.
      .panel-body
        =simple_form_for @post do |f|
          .form-group
            =f.input :image, class: "form-control"
          .form-group
            =f.input :title, class: "form-control"
          .form-group
            =f.input :link, class: "form-control"
          .form-group
            =f.input :description, class: "form-control"
          .form-group
            =f.button :submit, class: "btn btn-primary"